.hamidimg{
    width: 450px;
    height: 450px;
    border: 0.5rem solid #1c0a3d;
  
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 5rem #1c0a3d;
}
.home {
  background-image: url(h3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Make the background image responsive */
  min-height: 100vh; /* Set a minimum height for smaller devices */
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Add media query for small devices to adjust the height */
@media (max-width: 200px) {
  .home {
    height: auto; /* Auto height for smaller devices */
  
  }
}

.bol {
    width: 35px;

    height: 64px;
 
    border-radius: 9999px;
 
    border-width: 4px;
 
    border-color: #ffffff;
 
    display: flex;
  
    justify-content: center;
  
    align-items: flex-start;
 
    padding: 0.5rem;
    
  }
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(30px); /* Adjust the distance as needed */
    }
  }
  
  .bol1{
    width: 0.75rem;
  
    height: 0.75rem;
  
    border-radius: 50%;
    animation: moveUpDown 1s infinite alternate;
    background-color: #a40471;
  }
  
  * {
    box-sizing: border-box;
}
.imgrelative{
  border: 3px solid  #a46104;
  width: 400px;
  height:420px;
  position: relative;
  top: 100px;
}
.imgabsolute{
  /* z-index: 0; */
  position: absolute;
  top: -80px;
  left: -40px;

}
.words{
  background: linear-gradient(to right, #8e44ad, #e74c3c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}